.background-list{
  background-image: url('./../img/bg-2.jpg');
 background-size:100% 100%;
 background-repeat: no-repeat;
 background-color: rgba(0, 0, 0, 0.343);
 background-blend-mode: darken; 
}
.txtbar1{
    border-radius: 10px;
    border:2px solid rgb(219, 57, 84)  ;
    height: 8rem;
    width: 25rem;
    padding: 5px;
    margin: 3px;
}
.heading-3{
  color: rgb(219, 57, 84);
  font-size: 150%;
  margin-bottom: 2rem;
}
.switch {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(167, 2, 2);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .vegnonveg{
    display: flex;
    margin-top: 15px;
  }
  .pub-btn{
    margin-left: 35%;
    background-color:rgb(219, 57, 84) ;
    font-size: 110%;
    color:white;
    border: 3px solid rgb(219, 57, 84);
    margin-top: 5%;
    padding: 1.2% 4%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
  }
  .pub-btn:hover{
    background-color: white;
    color: rgb(219, 57, 84);
  }