@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Assistant',sans-serif;
}
.background-restaurant{
    background-image: url('./../img/bg-2.jpg');
   background-size:100% 100%;
   background-repeat: no-repeat;
   background-color: rgba(0, 0, 0, 0.343);
   background-blend-mode: darken; 
}
.heading-1{
    color: rgb(219, 57, 84);
    font-size: 170%;
    margin: 1%;
    margin-left:35%;
    margin-top: 2%;
}
.heading-2{
    display: flex;
    justify-content: space-between;
}
.publish-btn{
    text-decoration: none;
    width: 13%;
    font-size: 98%;
    background-color:rgb(219, 57, 84) ;
    color:white;
    border: 3px solid rgb(219, 57, 84);
    margin: 2%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.publish-btn:hover{
    background-color: white;
    color: rgb(219, 57, 84);
}
.dish-img{
    max-width: 30%;
    max-height: 12rem;
}
.dish-info{
    margin-left: 2%;
}